<div class="container">
  <mat-grid-list id="product-industrial" cols="2" rowHeight="2:1">
    <mat-grid-tile class="product-box">
      <h3>Nectar</h3>
      <img class="product-img" src="..\assets\images\imagen-home\melocoton.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile class="product-box">
        <h3>Nectar</h3>
        <img class="product-img" src="..\assets\images\imagen-home\melocoton.jpg" alt="">
      </mat-grid-tile>
      <mat-grid-tile class="product-box">
          <h3>Nectar</h3>
          <img class="product-img" src="..\assets\images\imagen-home\melocoton.jpg" alt="">
        </mat-grid-tile>
        <mat-grid-tile class="product-box">
            <h3>Nectar</h3>
            <img class="product-img" src="..\assets\images\imagen-home\melocoton.jpg" alt="">
          </mat-grid-tile>
  </mat-grid-list>
</div>