<footer class="footer-bottom">
        <ul class="text-list container row">
            <li class="col-md-4">
                <ul class="text-padd">
                    <li class="tittle">TRINITY INDUSTRY & COMMERCE S.A.C</li>
                </ul>
            </li>
            <li class="col-md-3">
                <ul class="text-padd">
                    <li>
                    </li>
                </ul>
            </li>
            <li class="col-md-5">
                <!--
                <ul class="text-right text-padd">
                    <li><h4>Contactanos</h4></li>
                </ul>
                <ul class="text-right text-padd">
                    <li><span>+51 959 704 935</span><i class="material-icons"> phone</i></li>
                    <li><span>trinityindustrycommerce@gmail.com</span><i class="material-icons">email</i></li>
                    <li><span>Urb Los Lirios MZ Q Lt 2</span><i class="material-icons"> home_work</i></li>
                    <li><span>San Marin de Porres, Lima, Perú</span><i class="material-icons"> where_to_vote</i></li>
                </ul>
                -->
                <ul class="text-right text-padd">
                    <li><h4>Contactanos</h4></li>
                    <li><i class="material-icons"> phone</i> <span>+51 959 704 935</span></li>
                    <li><i class="material-icons"> email</i> <span>trinityindustrycommerce@gmail.com</span></li>
                    <li><i class="material-icons"> home_work</i> <span>Urb Los Lirios MZ Q Lt 2</span></li>
                    <li><i class="material-icons"> where_to_vote</i> <span>San Marin de Porres, Lima, Perú</span></li>
                </ul>
            </li>
        </ul>
        <ul class="copy">
            <li class="text-copy container">
                <p>© 2019 Trinity.ic Todos los derechos reservados.</p>
            </li>
        </ul>
</footer>