#head-nav{
    display: flex;
    align-items: center;
    padding: 0 20px;
    min-height: 60px;
    background-color: #1BFF9D;
    width: 100%;
  .img-logo{ max-width: 150px; }
  .head-midd{
      display: flex;
      align-items: center;
      width: 100%;
    .share-text{
      padding: 0px 15px 0px 40px;
        input{
		  border: 1px solid grey;
          border-radius: 4px;
          padding: 4px 8px;
        }
     }
    
    .box-routes{
		.routes-links{
			margin: 0;
		  .links{
			  display: inline-flex;
			  text-decoration: none;
			  .routes{
				  padding: 0px 16px;
				  color: #4f525f;
			  }
		  }
		}
	}
  }
  .zone-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      background-color: #4f525f;
      color: white;
      padding: 10px 15px;
      margin-right: 7px;
      border-radius: 4px;
    }
  }
}