#head-nav{
  display: flex;
  align-items: center;
  padding: 0 20px;
  min-height: 60px;
  background-color: #ffca28;
  width: 100%;
  justify-content: space-between;
  p{
    margin: 0px;
    color:#807A6B;
    font-weight: 500;
  }
  .image-logo{
    border-radius: 1px;
    padding: 15px;
    p{
      font-size: 30px;
      font-weight: 500;
      margin: 0px;
    }
  }
  .img-logo{ max-width: 150px; }
    
  .box-routes{
		.routes-links{
      margin: 0;
		  .links{
        outline: none;
        padding: 0px 16px;
			  display: inline-flex;
			  text-decoration: none;
			  .routes{
          cursor: pointer;
				  padding: 0px;
				  color: #4f525f;
			  }
		  }
		}
	}
}
.pos-f-t{display: none;}

@media screen and (max-width: 870px){
  #head-nav{display: none;}
  .pos-f-t{
    position: relative;
    display: block;
    .nav-color{
      background-color: #ffca28;
      .routes-links{
        padding: 0px;
        .links{
          outline: none;
          font-weight: 500;
          list-style: none;
          font-size: 14px;
        }
      }
    }
  }
}