<header id="head-nav">
  <a><img class="img-logo" src="./assets/images/dota2-logo.png" alt=""></a>
  <div class="head-midd">
    <!--<div class="share-text">
      <input type="text" name="Introduce texto aqui" value="">
    </div> -->
    <div class="box-routes">
      <ul class="routes-links">
        <li class="links" *ngFor="let option of options"
        [routerLink]="['/',option.url]"
        routerLinkActive="active">
          <a class="routes">{{ option.title }}</a>
        <!--  <i class="material-icons">keyboard_arrow_down</i>-->
       </li>
      </ul>
    </div>
    <!--
      <div class="box-routes">
      <ul class="routes-links">
        <li class="links"><a class="routes">Viajes</a><i class="material-icons">keyboard_arrow_down</i></li>
        <li class="links"><a class="routes" href="#">Producto</a></li>
        <li class="links"><a class="routes" href="#">Experiencias</a></li>
        <li class="links"><a class="routes" href="#">Vales digitales</a></li>
      </ul>
    </div>
    -->
  </div>
  <div class="zone-user box">
    <a>Login</a>
    <a>Salir</a>
    <a href="#">Ingresar</a>
  </div>
</header>