<h2> ¿Quiénes Somos? </h2>
<div class="row">
  TRINITY INDUSTRY & COMMERCE SAC, pertenecemos a un grupo familiar de productores peruanos de fruta fresca donde el durazno Huayco Rojo es nuestro principal
  cultivo y materia prima a la vez abarcamos la actividad de producción industrial o valor agregado obteniendo productos de calidad y
  accesible al mercado peeruano
</div>

<h2>Visión</h2>
<div  class="row"></div>
  Lograr la integración del mercado abastecer
</div>

<h2>Misión</h2>
<div  class="row"></div>
  Buscamos la transformación en el mercado produccion una nueva alternativa en frutas fresca y productos
  con la presencia de nuestra nueva marca.
</div>

<h2>Valores</h2>
<div  class="row"></div>
 <li>
   <ul>
     > COMPROMISO
     > CALIDAD
     > EFICIENCIA
   </ul>
 </li>
</div>
